[conf]
tools.android:cmake_legacy_toolchain=false
tools.android:ndk_path={{ os.getenv("ANDROID_NDK_ROOT") }}
tools.compilation:verbosity=verbose
tools.system.package_manager:mode=install
tools.system.package_manager:sudo=True
